/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* ! Notes couleurs utilisées */
/*
 * Menu :
 *    Jaune   : #f19400
 *    Violet  : #8d2463
*/



/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Max */
/* Resets a mwa */
/* Sur l'ensemble des éléments */
* {
	/* Prevent text overflows */
	/* Ref : https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */ 
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	
	/* Prevent margin/padding anarchy */
	box-sizing: border-box;
}

/* Prevent images from overflowing parent containers */
img {
  /* Respect du ratio de l'image */
	height: auto;
	max-width: 100%;
}

/* balises */
html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
}

body {
  background-color: #0074D9;
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

/* classes */
.read-more::before {
  content: ">";
  margin-right: 0.5em;
}

/* id */
#slider-main li {
  text-transform: uppercase;
}
#slider-secondary h3 {
  text-transform: uppercase;
}
#slider-secondary img {
  height: 21px;
  width: auto;
}

/* Carte & géolocalisation / Leaflet map markers */
/*    https://leafletjs.com/examples/quick-start/#preparing-your-page */
#mapid {
  height: 320px;
  width: 410px;
}

/* Conteneurs */
/* Des marges assez élevées et un contenu centré sur les plus grandes résolutions */

/* sur mobile on ne perd pas de place */
.container {
  /* background-color: rgba(255,255,255, 0.5); */
  /* Marges sur les côté uniquement */
  min-width: 100%;
  padding: 0 0.5rem;
  text-align: center;
  width: 100%;
}
.container p {
  text-align: justify;
}

/* ~Au cune marge de marge pour fort contenu horizontal */
.container-fluid {
  min-width: 100%;
  text-align: center;
  width: 100%;
}

header.container-fluid {
  /* Attention, chemin relatif a la position de main.css dans l'arborescence, a savoir dans le dssier /css */
  /* Donc on ressort (.. de /css PUIS on va dans /img) */
  background-image: url('./../img/ecole-ensa-background.jpg');
  background-size: cover;
}

#slider-main ul {
  padding-left: 0;
}
#slider-main li {
  background-color: #8d2463;
  color: #fbfbfb;
  font-family: 'Roboto', sans-serif;
  /* font-size: 13px; */
  /* https://nekocalc.com/fr/px-a-rem-convertisseur */
  font-size: 0.813rem;
  /* font-weight: 500; */
  list-style-type: none;
  margin-bottom: 5px;
  max-width: 180px;
  padding: 10px 6px;
}
  #slider-main li.active {
    background-color:#f19400;
  }

/* CSS BEFORE / AFTER */
/* https://developer.mozilla.org/fr/docs/Web/CSS/::before */
/* https://outils-css.aliasdmc.fr/generateur-de-triangles-css.php */


/*    Tablette */ 
/* PAS VRAI : Entre 720 et 1199px */
/* VRAI : a partir de 720px et plus SAUF en cas de surcharge/remplacement   */
@media screen and (min-width: 720px) {
  .container {
    max-width: 680px;
    /* Centrer le contenu de manière hozitale */
    margin: 0 auto;
    /* On retire le min-width du portable */
    min-width: initial;
  }

  /* Uniquement A PARTIR DE la tablette, le menu du slider devient hozirontal */
  #slider-main li {
    display: inline-block;
  }
}



/*    ~PC */ 
/* PAS VRAI : 1200 et + */
/* VRAI : a partir de 1200px et plus SAUF en cas de surcharge/remplacement  */
@media screen and (min-width: 1290px) {
  .container {
    max-width: 1180px;
    text-align: left;
  }

  .container-fluid {
    text-align: left;
  }
}
